<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Other Gaming Groups</h3>
						<div class="widget-body">
							<p><a href="https://www.facebook.com/CalEsportsBerkeley/" target="_blank">Cal Esports</a></p>
							<p><a href="https://www.facebook.com/CalWomenInGaming/" target="_blank">Cal Women in Gaming</a></p>
							<p><a href="https://www.facebook.com/smashatberkeley" target="_blank">Smash at Berkeley</a></p>
							<p><a href="https://www.facebook.com/gamingatberkeley/" target="_blank">Gaming at Berkeley</a></p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Find Us Online</h3>
						<div class="widget-body">
							<p><a href="https://www.facebook.com/groups/BerkeleyLoL/" target="_blank">Facebook Group</a></p>
							<p><a href="https://discord.gg/8GAXhF5" target="_blank">Discord</a></p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p><a href="mailto:#">berkeleyleagueoflegends@gmail.com</a><br>
								Berkeley, CA 94704
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<div class="widget-body">
							<center><a href="https://www.ocf.berkeley.edu">
    <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg"
        alt="Hosted by the OCF" style="border: 0;" />
							</a></center>
							<p>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
<!-- 						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> |
								<a href="about.html">About</a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div> -->
					</div>

					<div class="col-md-12 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright © 2020 Berkeley Legends. We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
