<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="images/logo-header.png" alt="Berkeley Legends" height="50px"></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
				<li><a href="events.html">EVENTS</a></li>
				<li><a href="membership.html">MEMBERSHIP</a></li>
				<li><a href="shop.html">SHOP</a></li>
				<li><a href="halloffame.html">HALL OF FAME</a></li>
				<li><a href="execs.html">EXEC TEAM</a></li>
				<li><a href="FAQ.html">FAQ</a></li>
				<li><a href="https://www.facebook.com/berkeleyleagueoflegends/photos/" target="_blank">PHOTOS <i class="fa fa-external-link-alt" style="color:#888888;"></i></a></li>
				<li><a href="https://discord.gg/8GAXhF5" target="_blank">DISCORD <i class="fa fa-external-link-alt" style="color:#888;"></i></a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
	<!-- /.navbar -->
